In [1]:
import pandas as pd

In [2]:
ls

filtered_data.csv  profile.json  transcript.json
portfolio.json     proposal.pdf  Untitled.ipynb

In [6]:
fd = pd.read_csv('filtered_data.csv')

In [8]:
carl.sample(100).head()

,Unnamed: 0,event,person,time,offer id,reward
118878,210711,offer received,78e971bddb2842208b226249593b424f,504,5a8bc65990b245e5a138643cd4eb9837,NaN
11860,11860,offer received,258df44b49644e28873287c18a2d3474,0,2906b810c7d4411798c6938adc9daaa5,NaN
130332,227530,offer completed,7af54ea6250c4aa0941733ec8a18b821,522,2906b810c7d4411798c6938adc9daaa5,2.0
37580,63503,offer received,159ba13189d54daeaa55f4f8399d9779,168,fafdcd668e3743c1bb461111dcafc2a4,NaN
55457,110032,offer viewed,95e86569c15d455fa02041dd12f3d308,330,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN

In [19]:
a = carl[carl['event'] == 'offer completed']

In [20]:
len(a) / len(carl)

0.2003747441535735

167581

In [ ]:
viewed = 0.34
received = 0.45
offer completed = 0.20